---
---
<!doctype html>
<html lang="en">
    
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Tiglet Besara, Missouri State University</title>
    <meta name="description" content="Tiglet Besara, Missouri State University"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

{% include header.html %}

<main class="container" id="content">
    <h2>People</h2>
    <div class='people-grid'>

    </div>
</main>

{% include footer.html %}

</body>
</html>