---
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Tiglet Besara, Missouri State University</title>
    <meta name="description" content="Tiglet Besara, Missouri State University"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

{% include header.html %}

<main class="container" id="content">
    <h2>Presentaions</h2>
    <div class='card'>
        <ul class='pub-list'>
            <li>Besara, T., et al. (2024). Example paper on quantum materials.</li>
            <li>Besara, T., Student, S. (2023). Conference proceedings example.</li>
        </ul>
    </div>
</main>

{% include footer.html %}

</body>
</html>