---
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Tiglet Besara, Missouri State University</title>
    <meta name="description" content="Tiglet Besara, Missouri State University"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

{% include header.html %}

<main class="container" id="content">
    <h2>Publications</h2>
    <nav class="nav">
        <a href="#2025">2025</a>
        <a href="#2024">2024</a>
        <a href="#2023">2023</a>
        <a href="#2022">2022</a>
        <a href="#2021">2021</a>
        <a href="#2020">2020</a>
        <a href="#2019">2019</a>
        <a href="#2018">2018</a>
        <a href="#2017">2017</a>
        <a href="#Older">Older</a>
    </nav>
    <br>
    <section id="2025">
        <h3>2025</h3>
        <div class='pub-list'>
            <b>67. <a href="https://doi.org/10.1088/1361-648X/add8d8" target="_blank">
                Ferrimagnetism and Half-metallicity in Cr-substituted Mn<sub>4&ndash;<em>x</em></sub>Cr<sub><em>x</em></sub>Al<sub>11</sub></a></b>
            M. F. B. Noor, K.-M. Law, N. Yasmin, A. J. Hauser, and T. Besara
            <b>Journal of Physics: Condensed Matter 37, 235704 (2025)</b>
            <br>
            <b>66. <a href="https://doi.org/10.3390/cryst15050391" target="_blank">
                Single Crystal Growth and Structural Study of the New <em>M</em>Cu<sub>2</sub>Zn<sub>20</sub> (<em>M</em> = Nb, Hf) Compounds</a></b>
            S. M. Longworth, M. M. Mou, N. Yasmin, M. F. B. Noor, R. Sakidja, and T. Besara
            <b>Crystals 15, 391 (2025)</b>
        </div>
    </section>
    <br>
    <section id="2024">
        <h3>2024</h3>
        <div class='pub-list'>
            <b>65. <a href="https://doi.org/10.1039/d4cp02769h" target="_blank">
                Understanding the Motional Dynamics of the Ammonium Ion in the Mechanism of Multiferroicity of Cr(V) Peroxychromates: A <sup>1</sup>H NMR Study</a></b>
            R. Samantaray, D. Acharya, A. Priyadarshini, R. Sahu, T. Besara, and N. S. Dalal
            <b>Physical Chemistry Chemical Physics 24, 24585 (2024)</b>
            <br>
            <b>64. <a href="https://doi.org/10.1088/1361-648X/ad3875" target="_blank">
                Structural Trends and Itinerant Magnetism of the New Cage-structured Compound HfMn<sub>2</sub>Zn<sub>20</sub></a></b>
            N. Yasmin, M. F. B. Noor, and T. Besara
            <b>Journal of Physics: Condensed Matter 36, 275801 (2024)</b>
            <br>
            <b>63. <a href="https://doi.org/10.55670/fpll.fusus.2.1.5" target="_blank">
                Machine Learning in High-entropy Alloys: Phase Formation Predictions with Artificial Neural Networks</a></b>
            M. F. B. Noor, N. Yasmin, and T. Besara
            <b>Future Sustainability 2, 47&ndash;58 (2024)</b>
        </div>
    </section>
    <br>
    <section id="2023">
        <h3>2023</h3>
        <div class='pub-list'>
            <b>62. <a href="https://doi.org/10.1016/j.jssc.2023.123932" target="_blank">
                Locating Anionic Hydrogen in Ba<sub>3</sub>(Yb,Lu)<sub>2</sub>O<sub>5</sub>H<sub>2</sub>: A Combined Approach of X-ray Diffraction, Crystal Chemistry, and DFT Calculations</a></b>
            T. Besara, D. C. Ramirez, J. Sun, N. W. Falb, W. Lan, J. B. Whalen, D. J. Singh, and T. Siegrist
            <b>Journal of Solid State Chemistry 321, 123932 (2023)</b>
        </div>
    </section>
    <br>
    <section id="2022">
        <h3>2022</h3>
        <div class='pub-list'>
            <i>None</i>
        </div>
    </section>
    <br>
    <section id="2021">
        <h3>2021</h3>
        <div class='pub-list'>
            <b>61. <a href="https://doi.org/10.1107/S2052520621005849" target="_blank">
                A New Topological Semimetal Candidate: SmMnBi<sub>2</sub></a></b>
            S. Krishnan and T. Besara
            <b>Acta Crystallographica B 77, 577&ndash;583 (2021)</b>
            <br>
            <b>60. <a href="https://doi.org/10.1103/PhysRevB.103.L220404" target="_blank">
                Fluctuation-induced Interactions and the Spin-glass Transition in Fe<sub>2</sub>TiO<sub>5</sub></a></b>
            P. G. LaBarre, D. Phelan, Y. Xin, F. Ye, T. Besara, T. Siegrist, S. V. Syzranov, S. Rosenkranz, and A.P. Ramirez
            <b>Physical Review B 103, L220404 (2021)</b>
            <br>
            <b>59. <a href="https://doi.org/10.1038/s41535-020-00308-z" target="_blank">
                Defect-induced Colossal Cryo-thermopower in FeSb<sub>2</sub></a></b>
            Q. Du, L. Wu, H. Cao, C.-J. Kang, C. S. Nelson, G. L. Pascut, T. Besara, T. Siegrist, K. Haule, G. Kotliar, I. Zaliznyak, Y. Zhu, and C. Petrovic
            <b>npj Quantum Materials 6, 13 (2021)</b>
        </div>
    </section>
    <br>
    <section id="2020">
        <h3>2020</h3>
        <div class='pub-list'>
            <b>58. <a href="https://doi.org/10.1103/PhysRevB.102.144522" target="_blank">
                Superconductivity in Single Crystals of ZrP<sub>1.27</sub>Se<sub>0.73</sub></a></b>
            K.-W. Chen, G. Chappell, S. Zhang, W. Lan, T. Besara, K. Huang, D. Graf, L. Balicas, A. P. Reyes, and R. E. Baumbach
            <b>Physical Review B 102, 144522 (2020)</b>
            <br>
            <b>57. <a href="https://doi.org/10.1103/PhysRevLett.124.117203" target="_blank">
                Quantum Critical Point in the Itinerant Ferromagnet Ni<sub>1&ndash;<i>x</i></sub>Rh<sub><i>x</i></sub></a></b>
            C.-L. Huang, A. M. Hallas, K. Grube, S. Kuntz, B. Spieß, K. Bayliff, T. Besara, T. Siegrist, Y. Cai, J. Beare, G. M. Luke, and E. Morosan
            <b>Physical Review Letters 124, 117203 (2020)</b>
        </div>
    </section>
    <br>
    <section id="2019">
        <h3>2019</h3>
        <div class='pub-list'>
            <b>56. <a href="https://doi.org/10.1103/PhysRevMaterials.3.104602" target="_blank">
                Mini Volume Collapse as Evidence for a Three-body Magnetic Polaron in Sm<sub>1&ndash;<i>x</i></sub>Eu<sub><i>x</i></sub>S</a></b>
            D. Schaller, P. G. LaBarre, T. Besara, E. Bucher, T. Siegrist, and A. P. Ramirez
            <b>Physical Review Materials 3, 104602 (2019)</b>
            <br>
            <b>55. <a href="https://doi.org/10.1021/jacs.9b04473" target="_blank">
                Antiferroelectric Phase Transition in a Proton-Transfer Salt of Squaric Acid and 2,3-Dimethylpyrazine</a></b>
            J. Lengyel, X. Wang, E. S. Choi, T. Besara, R. U. Schönemann, S. K. Ramakrishna, J. Holleman, A. L. Blockmon, K. D. Hughey, T. Liu, J. Hudis, D. Beery, L. Balicas, S. A. McGill, K. Hanson, J. L. Musfeldt, T. Siegrist, N. S. Dalal, and M. Shatruk
            <b>Journal of the American Chemical Society 141, 16279&ndash;16287 (2019)</b>
            <br>
            <b>54. <a href="https://doi.org/10.1103/PhysRevB.100.115138" target="_blank">
                Possible Manifestations of the Chiral Anomaly and Evidence for a Magnetic Field Induced Topological Phase Transition in the Type-I Weyl Semimetal TaAs</a></b>
            Q. R. Zhang, B. Zeng, Y. C. Chiu, R. Schönemann, S. Memaran, W. Zheng, D. Rhodes, K.-W. Chen, T. Besara, R. Sankar, F. Chou, G. T. McCandless, J. Y. Chan, N. Alidoust, S.-Y. Xu, I. Belopolski, M. Z. Hasan, F. F. Balakirev, and L. Balicas
            <b>Physical Review B 100, 115138 (2019)</b>
            <br>
            <b>53. <a href="https://doi.org/10.1021/acs.inorgchem.8b03367" target="_blank">
                Ba<sub>3</sub>CrN<sub>3</sub>H: A New Nitride-hydride with Trigonal Planar Cr<sup>4+</sup></a></b>
            N. W. Falb, J. N. Neu, T. Besara, J. B. Whalen, D. J. Singh, and T. Siegrist
            <b>Inorganic Chemistry 58, 3302&ndash;3307 (2019)</b>
            <br>
            <b>52. <a href="https://doi.org/10.1016/j.matchar.2019.01.013" target="_blank">
                Microstructure of Hard Biocompatible Ti<sub>1&ndash;<i>x</i></sub>Au<sub><i>x</i></sub> Alloys</a></b>
            Y. Xin, K. Han, E. Svanidze, T. Besara, T. Siegrist, and E. Morosan
            <b>Materials Characterization 149, 133&ndash;142 (2019)</b>
            <br>
            <b>51. <a href="https://doi.org/10.1080/14786435.2018.1549369" target="_blank">
                Grüneisen Divergence Near the Structural Quantum Phase Transition in ScF<sub>3</sub></a></b>
            R. Bhandia, T. Siegrist, T. Besara, and G. M. Schmiedeshoff
            <b>Philosophical Magazine 99, 631&ndash;643 (2019)</b>
        </div>
    </section>
    <br>
    <section id="2018">
        <h3>2018</h3>
        <div class='pub-list'>
            <b>##. <a href="link" target="_blank">
                Title</a></b>
            Authors
            <b>Journal V, P (Year)</b>
        </div>
    </section>
</main>
<!--
    <section id="YYYY">
        <h3>YYYY</h3>
        <div class='pub-list'>
            <b>##. <a href="link" target="_blank">
                Title</a></b>
            Authors
            <b>Journal V, P (Year)</b>
        </div>
    </section>
-->
{% include footer.html %}

</body>
</html>