---
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Tiglet Besara, Missouri State University</title>
    <meta name="description" content="Tiglet Besara, Missouri State University"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

{% include header.html %}

<main class="container" id="content">
    <h2>Publications</h2>
    <nav class="nav">
        <a href="#2025">2025</a>
        <a href="#2024">2024</a>
        <a href="#2023">2023</a>
        <a href="#2022">2022</a>
        <a href="#2021">2021</a>
        <a href="#2020">2020</a>
    </nav>
    <div class='card'>
        <section id="2025">
            <h3>2025</h3>
            <div class='pub-list'>
                <b>67. <a href="https://doi.org/10.1088/1361-648X/add8d8">
                    Ferrimagnetism and Half-metallicity in Cr-substituted Mn<sub>4&ndash;<em>x</em></sub>Cr<sub><em>x</em></sub>Al<sub>11</sub></a></b>
                M. F. B. Noor, K.-M. Law, N. Yasmin, A. J. Hauser, and T. Besara
                <b>Journal of Physics: Condensed Matter 37, 235704 (2025)</b>
                <br>
                <b>66. <a href="https://doi.org/10.3390/cryst15050391">
                    Single Crystal Growth and Structural Study of the New <em>M</em>Cu<sub>2</sub>Zn<sub>20</sub> (<em>M</em> = Nb, Hf) Compounds</a></b>
                S. M. Longworth, M. M. Mou, N. Yasmin, M. F. B. Noor, R. Sakidja, and T. Besara
                <b>Crystals 15, 391 (2025)</b>
            </div>
        </section>
    </div>
    <div class='card'>
        <section id="2024">
            <h3>2024</h3>
            <div class='pub-list'>
                <b>65. <a href="https://doi.org/10.1039/d4cp02769h">
                    Understanding the Motional Dynamics of the Ammonium Ion in the Mechanism of Multiferroicity of Cr(V) Peroxychromates: A 1H NMR Study</a></b>
                R. Samantaray, D. Acharya, A. Priyadarshini, R. Sahu, T. Besara, and N. S. Dalal
                <b>Physical Chemistry Chemical Physics 24, 24585 (2024)</b>
                <br>
                <b>64. <a href="https://doi.org/10.1088/1361-648X/ad3875">
                    Structural Trends and Itinerant Magnetism of the New Cage-structured Compound HfMn<sub>2</sub>Zn<sub>20</sub></a></b>
                N. Yasmin, M. F. B. Noor, and T. Besara
                <b>Journal of Physics: Condensed Matter 36, 275801 (2024)</b>
                <br>
                <b>63. <a href="https://doi.org/10.55670/fpll.fusus.2.1.5">
                    Machine Learning in High-entropy Alloys: Phase Formation Predictions with Artificial Neural Networks</a></b>
                M. F. B. Noor, N. Yasmin, and T. Besara
                <b>Future Sustainability 2, 47&ndash;58 (2024)</b>
            </div>
        </section>
    </div>
    <div class='card'>
        <section id="2023">
            <h3>2023</h3>
            <div class='pub-list'>
                <b>62. <a href="https://doi.org/10.1016/j.jssc.2023.123932">
                    Locating Anionic Hydrogen in Ba<sub>3</sub>(Yb,Lu)<sub>2</sub>O<sub>5</sub>H<sub>2</sub>: A Combined Approach of X-ray Diffraction, Crystal Chemistry, and DFT Calculations</a></b>
                T. Besara, D. C. Ramirez, J. Sun, N. W. Falb, W. Lan, J. B. Whalen, D. J. Singh, and T. Siegrist
                <b>Journal of Solid State Chemistry 321, 123932 (2023)</b>
            </div>
        </section>
    </div>
    <div class='card'>
        <section id="2022">
            <h3>2022</h3>
            <div class='pub-list'>
                <i>None</i>
            </div>
        </section>
    </div>
    <div class='card'>
        <section id="2021">
            <h3>2021</h3>
            <div class='pub-list'>
                <b>61. <a href="https://doi.org/10.1107/S2052520621005849">
                    A New Topological Semimetal Candidate: SmMnBi<sub>2</sub></a></b>
                S. Krishnan and T. Besara
                <b>Acta Crystallographica B 77, 577&ndash;583 (2021)</b>
                <br>
                <b>60. <a href="https://doi.org/10.1103/PhysRevB.103.L220404">
                    SFluctuation-induced Interactions and the Spin-glass Transition in Fe<sub>2</sub>TiO<sub>5</sub></a></b>
                P. G. LaBarre, D. Phelan, Y. Xin, F. Ye, T. Besara, T. Siegrist, S. V. Syzranov, S. Rosenkranz, and A.P. Ramirez
                <b>Physical Review B 103, L220404 (2021)</b>
                <br>
                <b>59. <a href="https://doi.org/10.1038/s41535-020-00308-z">
                    Defect-induced Colossal Cryo-thermopower in FeSb<sub>2</sub></a></b>
                Q. Du, L. Wu, H. Cao, C.-J. Kang, C. S. Nelson, G. L. Pascut, T. Besara, T. Siegrist, K. Haule, G. Kotliar, I. Zaliznyak, Y. Zhu, and C. Petrovic
                <b>npj Quantum Materials 6, 13 (2021)</b>
            </div>
        </section>
    </div>
</main>
<!--
    <div class='card'>
        <section id="YYYY">
            <h3>YYYY</h3>
            <div class='pub-list'>
                <b>##. <a href="link">
                    Title</a></b>
                Authors
                <b>Journal V, P (Year)</b>
            </div>
        </section>
    </div>
-->
{% include footer.html %}

</body>
</html>