---
---
<!doctype html>
<html lang="en">
    
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Tiglet Besara, Missouri State University</title>
    <meta name="description" content="Tiglet Besara, Missouri State University"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

{% include header.html %}

<main class="container" id="content">
    <h2>Team</h2>
    <div class='people-grid'>
        <div class='person'>
            <div class='people-grid-2'>
                <img src='images/tb.jpg' alt='Tiglet Besara'/>
                <div class='card'>
                    <h2>Principal Investigator</h2>
                    <h3>Tiglet Besara</h3>
                    <p>
                        Associate Professor
                        <br>Department of Physics, Astronomy, and Materials Science
                        <br>Missouri State University
                    </p>
                    <div class='social-links'>
                        <a href='https://orcid.org/0000-0002-2143-2254' title='ORCiD' target='_blank'>
                            <img src='images/orcid.png' alt='ORCiD' style='height:50px'></a>
                        <a href='https://scholar.google.com/citations?hl=en&user=q1BBG_QAAAAJ&view_op=list_works&sortby=pubdate' title='Google Scholar' target='_blank'>
                            <img src='images/gs.png' alt='Google Scholar' style='height:50px'></a>
                        <a href='https://www.scopus.com/authid/detail.uri?authorId=36459660700' title='Scopus' target='_blank'>
                            <img src='images/scopus.png' alt='Scopus' style='height:50px'></a>
                        <a href='https://www.webofscience.com/wos/author/record/M-7969-2014' title='Web of Science' target='_blank'>
                            <img src='images/wos.png' alt='Web of Science' style='height:50px'></a>
                        <a href='https://www.researchgate.net/profile/Tiglet-Besara' title='ResearchGate' target='_blank'>
                            <img src='images/rg.png' alt='ResearchGate' style='height:50px'></a>
                        <a href='https://www.linkedin.com/in/tigletbesara' title='LinkedIn' target='_blank'>
                            <img src='images/linkedin.png' alt='LinkedIn' style='height:50px'></a>
                        <a href='https://x.com/TigletBesara' title='Twitter' target='_blank'>
                            <img src='images/x.png' alt='Twitter' style='height:50px'></a>
                        <a href='https://profiles.impactstory.org/u/0000-0002-2143-2254' title='ImpactStory' target='_blank'>
                            <img src='images/impactstory.png' alt='ImpactStory' style='height:50px'></a>
                    </div>
                </div>
            </div>
        </div>
        <div class='person'>
            <div class='card'>
                <h3>Graduate Students</h3>
                <p>Your name could be here!</p>
            </div>
        </div>
        <div class='person'>
            <div class='card'>
                <h3>Undergraduate Students</h3>
                <p>Your name could be here!</p>
            </div>
        </div>
    </div>
    <hr>
    <h2>Alumni</h2>
    <div class='people-grid'>
        <div class='person-alum'>
            <h3>Graduate Students (M.Sc. Materials Science)</h3>
            <p>
                <b>Jared Shortt</b>: <a href="https://bearworks.missouristate.edu/theses/4103/" target="_blank">
                    Exploration and Synthesis of Tin Intermetallic Single Crystals</a>, Summer 2025.
            </p>
            <p>
                <b>Partha Das</b>: <a href="https://bearworks.missouristate.edu/theses/4069/" target="_blank">
                    Synthesis and Characterization of Doped Rare-Earth Zinc Alloys</a>, Spring 2025.
                    <br>Currently a PhD student, Department of Materials Science & Engineering, University of Florida.
            </p>
            <p>
                <b>Patrick Lambdin</b>: <a href="https://bearworks.missouristate.edu/theses/3912/" target="_blank">
                    Growth and Characterization of Sm<sub>3</sub>HfBi<sub>5</sub></a>, Fall 2023.
                    <br>Currently a Highschool science teacher, Argosy Collegiate Charter School, Fall River, MA.
            </p>
            <p>
                <b>Md Fahel Bin Noor</b>: <a href="https://bearworks.missouristate.edu/theses/3930/" target="_blank">
                    Exploration and Synthesis of Half-Heusler and Disordered Ternary Intermetallic Single Crystals</a>, Fall 2023.
                    <br>Currently a PhD student, Department of Materials Science & Engineering, North Carolina State University.
            </p>
            <p>
                <b>Nusrat Yasmin</b>: <a href="https://bearworks.missouristate.edu/theses/3933/" target="_blank">
                    Synthesis and Characterization of Cage-structured Compounds as Promising Thermoelectric Materials</a>, Fall 2023.
                    <br>Currently a PhD student, Department of Materials Science, University of Alabama.
            </p>
            <p>
                <b>Sudha Krishnan</b>: <a href="https://bearworks.missouristate.edu/theses/3579/" target="_blank">
                    Design, Discovery, and Characterization of Single Crystals of a Topological Semimetal using a Self-flux Method</a>, Fall 2020.
                    <br>Currently a PhD student, Department of Mechanical & Materials Engineering, University of Nebraska-Lincoln.
            </p>
        </div>
        <div class='person-alum'>
            <h3>Undergraduate Students</h3>
            <p>
                <b>Caroline Witt</b>, BSc Physics, Spring 2025.
                <br>Currently a MSc student, Center for Advanced Materials Characterization, University of Oregon.
                <br><br>
                <b>Stephanie Collins</b>, BSc Physics, Spring 2024.
                <br>Currently a PhD student, Department of Physics, University of Illinois, Urbana-Champaign.
                <br><br>
                <b>Betime Begzati</b>, BSc Physics, Spring 2024.
                <br><br>
                <b>Austyn McIntyre</b>, BSc Physics, Summer 2023.
                <br><br>
                <b>August Schwoebel</b>, BSc Physics and BSc Chemistry, Spring 2023.
                <br>Currently a PhD student, Department of Physics, University of Illinois, Urbana-Champaign.
                <br><br>
                <b>Jared Shortt</b>, BSc Physics, Spring 2023.
                <br>Current position: (see listing in Graduate Students).
                <br><br>
                <b>Patrick Lambdin</b>, BSc Physics, Fall 2022.
                <br>Current position: (see listing in Graduate Students).
                <br><br>
                <b>Sarah Longworth</b>, BSc Physics and BSc Chemistry, Spring 2022.
                <br>Currently a PhD student, Department of Materials Science & Engineering, University of Tennessee, Knoxville.
                <br><br>
                <b>Matthew Bruenning</b>, BSc Physics, Spring 2023 and MSc Materials Science, Summer 2025.
                <br>Currently a PhD student, Department of Physics & Astronomy, University of Missouri.
                <br><br>
                <b>Daniel Amuedo</b>, BSc Cell & Molecular Biology, Spring 2021.
                <br>Honors Thesis: "Free-Standing Liquid Membranes as a Non-Fouling Filter for the Removal of Microplastics from Water".
                <br>Currently a Mechanical Engineer, BiomeSense, Chicago, IL.
                <br><br>
                <b>Robson DaSilva</b>
                <br>Currently majoring in Global Studies.
                <br><br>
                <b>Christian Oldham</b>, BSc Physics, Spring 2020.
                <br>Currently an Assistant Chemist, ADM, Hollister, MO.
            </p>
        </div>
        <div class='person-alum'>
            <h3>High School Students</h3>
            <p>
                <b>Zuben Shelburn</b>: Parkview High School, Springfield, MO, Spring 2025.
                <br>Currently a student at University of Pennsylvania.
            </p>
        </div>
    </div>
</main>

{% include footer.html %}

</body>
</html>