<header class="header">
    <div class="container titlebar" color="var(--header-text-color)" style="background-color: var(--header-bg-color);">
        <div>
            <div class="brand">Tiglet Besara</div>
            <div class="tagline">Department of Physics, Astronomy, and Materials Science</div>
            <div class="tagline">Missouri State University</div>
        </div>
        <nav class="nav">
            <a href="index.html">Home</a>
            <a href="people.html">People</a>
            <a href="research.html">Research</a>
            <a href="publications.html">Publications</a>
            <a href="presentations.html">Presentations</a>
            <a href="teaching.html">Teaching</a>
            <a href="contact.html">Contact</a>
            <a href="https://www.missouristate.edu" target="_blank"><img src="{{ '/images/msu-logo.png' | relative_url }}" alt="MSU" style="height:20px"></a>
        </nav>
    </div>
</header>
